{% extends "base.html" %}
{% block content %}
{% load static %}
{% csrf_token %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/explore.css' %}" />
    
    <style>
        /* Style the filter container */
        .filter-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15vh;
            border: 2px solid #778DA9;
            background-color: #E0E1DD;
        }

        /* Style the filter form */
.filter-form {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Vertically center items within the form container */
}

/* Style form groups (label + input/select) */
.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

/* Style labels */
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs/select */
.form-group select,
.form-group input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; /* Add some space between form elements */
}

/* Style the filter button */
.filter-button {
    padding: 8px 16px;
    background-color: #415A77;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    </style>

  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <!-- <h2 class="mb-5">Tables Example</h2><div class="row"> -->

        <!-- <div class="filter-container">
            <form method="get" action="" class="filter-form">
                <br>
                <div class="form-group">
                    <label for="{{ form.tag.id_for_label }}">Tag:</label>
                    {{ form.tag }}
                </div>
                <div class="form-group">
                    <label for="{{ form.search.id_for_label }}">Search:</label>
                    {{ form.search }}
                </div>
                <button type="submit" class="filter-button">Filter</button>
                <br>
            </form>
            <br>
        </div>
        
        <br><br> -->


        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0" style = "text-align:center;">
              <h2 class="mb-0"><centre>Explore Projects!</centre></h2>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Domain/Tags</th>
                    <th scope="col">Status</th>
                    <th scope="col">Contributors</th>
                    <th scope="col">Student</th>
                  </tr>
                </thead>

                <tbody>
                    {% for project in projects %}

                    <tr>
                        <th scope="row">
                            <div class ="media align-items-center">
                                <a href="{% url 'projectDetails' pk=project.pk %}" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/bootstrap.jpg">
                                </a>  
                                <div class="media-body">
                                    <a href ="{% url 'projectDetails' pk=project.pk %}">
                                        <span class="mb-0 text-sm">{{ project.name }}</span>
                                    </a>                                    
                                </div>
                            </div>
                        </th>
                        <td>
                            <!-- {% for tag in project.tags.all %} -->
                            <span class="badge badge-pill badge-info">
                                <i class="icofont-ui-calendar icofont-1x"></i> IOT
                            </span> <br><br>
                            <!-- {% endfor %} -->
                        </td>
                        <td>
                            <span class="badge badge-dot mr-4">
                              <i class="bg-warning"></i> pending
                            </span>
                        </td>
                        <td>
                            <div class="avatar-group">
                              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                              </a>
                              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                  <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                              </a>
                              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                  <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                              </a>
                              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                  <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                              </a>
                            </div>
                        </td>
                        <td>
                            <div class="media-body">
                                <span class="mb-0 text-sm">{{ project.student }}</span>
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">ProjectsSync</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        <span class="badge badge-pill badge-info"><i class="icofont-ui-calendar icofont-1x"></i> &nbsp;React</span>&nbsp;&nbsp;</span><br><br>
                        <span class="badge badge-pill badge-info"><i class="icofont-wall-clock icofont-1x"></i> &nbsp;ML</span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                            <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                            <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                            <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                        </a>
                      </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">K J Somaiya College of Engineering</span>
                        </div>
                      <!-- <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div> -->
                    </td>                    
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/angular.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">DigiId</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        <span class="badge badge-pill badge-info"><i class="icofont-ui-calendar icofont-1x"></i> &nbsp;DevOps</span>&nbsp;&nbsp;</span><br><br>
                        <span class="badge badge-pill badge-info"><i class="icofont-wall-clock icofont-1x"></i> &nbsp;Microservices</span>
                    </td>
                    <td>
                      <span class="badge badge-dot">
                        <i class="bg-success"></i> completed
                      </span>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                              <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                            </a>
                          </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">K J Somaiya College of Engineering</span>
                        </div>
                    </td>                    
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/sketch.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Cartonify</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        <span class="badge badge-pill badge-info"><i class="icofont-ui-calendar icofont-1x"></i> &nbsp;Deep Learning</span>                        
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-danger"></i> delayed
                      </span>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                              <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                            </a>
                          </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">Indian Institute of Technology, Bombay</span>
                        </div>
                    </td>                    
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/react.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Image Colourisation</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        <span class="badge badge-pill badge-info"><i class="icofont-ui-calendar icofont-1x"></i> &nbsp;Deep Learning</span>&nbsp;&nbsp;</span><br><br>
                        <span class="badge badge-pill badge-info"><i class="icofont-wall-clock icofont-1x"></i> &nbsp;Microservices</span>
                    </td>
                    <td>
                      <span class="badge badge-dot">
                        <i class="bg-info"></i> on schedule
                      </span>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                              <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                            </a>
                          </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">D J Sanghavi</span>
                        </div>
                    </td>                    
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/vue.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Splitwise</span>
                        </div>
                      </div>
                    </th>
                    <td>
                        <span class="badge badge-pill badge-info"><i class="icofont-ui-calendar icofont-1x"></i> &nbsp;Django Web Dev</span>&nbsp;&nbsp;</span><br><br>                        
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-success"></i> completed
                      </span>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                              <img src="{%static 'images/explore_images/face1.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                                <img src="{%static 'images/explore_images/face2.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                                <img src="{%static 'images/explore_images/face3.jpg' %}" alt = "Image 1">
                            </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                                <img src="{%static 'images/explore_images/face4.jpeg' %}" alt = "Image 1">
                            </a>
                          </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">BITS, Goa </span>
                        </div>
                    </td>                
                  </tr>
                </tbody>
              </table>
              
            </div>            
          </div>
        </div>
      </div>
      <br><br><br>

{% endblock %}


