{% extends "base.html" %} {% block content %} {% load static %}

<title>Project Details</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://fonts.googleapis.com/css?family=Unica+One%7CWork+Sans:300,600"
  rel="stylesheet"
/>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
/>

<style>
  /* Style for the modal background */
  .modal-background {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
  }

  /* Style for the modal content */
  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  /* Style for the close button */
  .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }
</style>

<link rel="stylesheet" href="{% static 'css/projectDetails.css' %}" />

<div class="modal-dialog wide" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title text-center" id="tmsTitle">{{ project.name }}</h2>
    </div>
    <!-- /.modal-header -->
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 bg-star-g"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>{{ project.student.school }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-0">
          <p>{{ project.overview }}</p>
        </div>
        <div
          class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-0 md-center"
        >
          <p><strong>Mentors:</strong></p>
          <ul class="contributors">
            {% for mentor in project.mentors.all %}
            <li>
              <img src="{% static 'images\explore_images\userpic.avif' %}" />
              <a href="https://github.com/1">{{ mentor.user.username }}</a>
            </li>
            {% endfor %}
          </ul>

          <p><strong>Sponsors:</strong></p>
          <ul class="contributors">
            {% for sponsor in project.sponsors.all %}
                <li>
                    <img src="{% static 'images\explore_images\userpic.avif' %}" />
                    <a href="https://github.com/1">{{ sponsor.user.username }}</a>
                </li>
            {% endfor %}
        </ul>
        

          <!-- <p><strong>Tags:</strong></p>
          <p class="mb-30">
            {% for tag in tags %}
            <span class="label tag">{{tag}}</span>
            {% endfor %}
          </p> -->
          <!-- <p><strong>Technologies Used:</strong></p>
              <p class="mb-30">
                <span class="label tag">Bootstrap 4</span>
                <span class="label tag">Responsive Design</span>
                <span class="label tag">HTML5</span>
                <span class="label tag">CSS3</span>
                <span class="label tag">jQuery</span>
                <span class="label tag">Gifffer.js</span>
              </p> -->
          <a
            class="btn td-btn outline green mb-30"
            href="{{ project.necessary_links }}"
            target="_blank"
            title="Website"
            ><span class="glyphicon glyphicon-link"></span>Link to Reference</a
          >
          
          {% if isContrib %}
          <a
            class="btn td-btn outline green mb-30"
            href="{% url 'become_mentor' pk=project.pk %}"
            target="_blank"
            title="Project Title"
            ><span class="glyphicon glyphicon-plus"></span> Mentor
          </a>
          <a
            class="btn td-btn outline green mb-30"
            href="{% url 'become_sponsor' pk=project.pk %}"
            target="_blank"
            title="Project Title"
            ><span class="glyphicon glyphicon-plus"></span> Sponsor
          </a>
          {% endif %}
        </div>
      </div>
      <!-- /.row -->
      <div class="modal-footer center">
        <button
          type="button"
          class="btn td-btn outline green mb-30"
          data-dismiss="modal"
        >
          Close Project
        </button>
      </div>
      <!-- /.modal-footer -->
    </div>
    <!-- /.modal-body -->
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
{% endblock %}
