/* =====================
  General Styles
===================== */
html { font-size: 110%; }
html {
  height: 100%; /* Fullscreen BG */
  width: 100%;
  background-color: #415A77;
}
body {
  color: #81B29A;
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: #81B29A;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 3rem;
}
h2 {
  font-family: 'Unica One', cursive;
  font-size: 2.3rem;
}
h3 {
  font-family: 'Unica One', cursive;
  font-size: 1.8rem;
}
h4 {
  color: #9da7a6;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
small {
  line-height: 1;
}

hr {
  border-color: #cdd1cf;
  margin: 30px 0 60px;
}

/* Fixed Menu */
.menu-fixed {
  background-color: #81B29A;
  background-color: rgba(255,254,253,0.97);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8,33,30,0.15);
  height: 60px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
}
.menu-fixed .navbar-header {
  height: 60px;
}
.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav > li > a {
  margin-top: 13px;
}
.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}
/*** Modal ***/
.modal-dialog.wide {
  width: 90%;
}
.modal-dialog.wide .row {
  margin: 0 0 30px;
}
.modal-dialog.wide .row .row {
  margin-left: -5px;
  margin-right: -5px;
}
.modal-header {
  border: none;
  padding: 30px 30px 0;
}
.modal-header .close {
  font-size: 2rem;
}
.modal-content {
  background-color: #fffefd;
  border: none;
  box-shadow: 0 3px 6px rgba(8,33,30,0.2);
}
.modal-body {
  padding: 30px;
}
.modal-body li {
  margin-bottom: 9px;
}
.modal-footer {
  padding: 30px 0 15px;
}
/* Fade Up Animation */
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, 100vh, 0);
  -ms-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-backdrop {
  background-color: #fffefd;
  z-index: 1025;
}
.modal-backdrop.in {
    opacity: 0.9;
}

/* Contributors */
.contributors {
    list-style-type: none;
    padding: 0;
  }
  
  .contributors li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contributors img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contributors a {
    color: black;
    font-size: 16px;
    text-decoration: none;
  }
  


/* =====================
  Buttons
===================== */
.td-btn {
  padding: 12px 36px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.td-btn + .td-btn {
  margin-left: 6px;
}
.td-btn.small {
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}
.outline {
  background-color: transparent;
  border: 1px solid #9da6a4;
  color: #9da6a4;
}
.outline:focus,
.outline:hover {
  background-color: #9da6a4;;
  color: #fffefd;
}
.outline.green {
  border-color: #1B263B;
  color: #1B263B;
}
.outline.green:focus,
.outline.green:hover {
  background-color: #1B263B;
  color: #fffefd;
}
.outline.white {
  border-color: #fffefd;
  color: #fffefd;
}
.outline.white:focus,
.outline.white:hover {
  background-color: #fffefd;
  color: #df3778;
}

/* =====================
  Icons and Images
===================== */
.icon {
  max-height: 90px;
}
.icon + p { 
  margin-top: 15px;
}
/* Profile Pic */
.profile {
  max-width: 180px;
  padding: 0 15px 0 0;
}
/* Glyphicons */
.glyphicon-heart {
  color: #df3778;
}


/*** Project Modals ***/
.hero {
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}
.label.tag {
    background-color: #ffce3f;
    border-radius: 0;
    font-weight: normal;
}
/* To override button alignment in modals */
.center {
  text-align: center;
}

/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-shadow {
  box-shadow: 0 1px 3px rgba(8,33,30,0.5);
}
.bg-white {
  background-color: #fffefd;
  position: relative;
}
.bg-star-y {
  background: #ffce3f url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/yellow-star.png?raw=true) fixed;
  background-size: 60px;
  color: #fffefd;
}
.bg-star-g {
  background: #1b263b url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/green-star.png?raw=true) fixed;
  background-size: 60px;
  color: #fffefd;
}
/*** Contact Form ***/
.checkbox {
  display: none;
}

/* =====================
  Media Queries
===================== */
@media (max-width: 1199px) {
  /* Center class for medium screens */
  .md-center { text-align: center; }
}
@media (max-width: 991px) {
  /*** Resume ***/
  .year {
    text-align: left;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .carousel-inner img {
    max-width: 480px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /*** Page Elements ***/
  section .row [class^="col-sm-"] + [class^="col-sm-"],
  section .row [class*=" col-sm-"] + [class*=" col-sm-"] {
    margin-top: 30px;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .card {
    text-align: center;
  }
}

/* Comment Section */

.comments h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.comment {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.username {
    color: #1B263B;
    margin-right: 5px;
}

.timestamp {
    color: #555;
}

.comment-text {
    font-size: 16px;
}
.comment-form {
    margin-top: 20px;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.comment-form textarea {
    height: 100px;
}

.project-details-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #778DA9;
  padding: 10px 20px;
}